# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/
ENV/
.venv/
.pytest_cache/
htmlcov/
dist/
build/
*.egg-info/
.coverage
coverage.xml

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm/

# Logs & DBs
*.log
*.sqlite3

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
